{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
/mnt/c/Users/{{ .chezmoi.username }}/AppData/Local/1Password/config/agent.toml
{{- else -}}
.config/1Password/ssh/agent.toml
{{- end -}}
