bootstrap.sh

/* Programs to check and their config paths */
{{- $programs := dict 
    "1password" ".config/1Password/"
    "nvim" ".config/nvim/"
    "fish" ".config/fish/"
    "alacritty" ".config/alacritty/"
    "git" ".gitconfig"
-}}

/* Check each program and write ignore patterns */
{{- range $program, $ignore_path := $programs }}
    {{- if eq $program "1password" }}
        {{- if not (or 
            (and (eq .chezmoi.os "darwin") (stat "/Applications/1Password.app"))
            (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") (stat (print "/mnt/c/Users/" .chezmoi.username "/AppData/Local/1Password")))
            (and (eq .chezmoi.os "linux") (stat (print .chezmoi.homeDir "/.config/1Password")))
        ) }}
{{ $ignore_path }}
        {{- end }}
    {{- else if not (lookPath $program) }}
{{ $ignore_path }}
    {{- end }}
{{- end }}
