encryption: age
age:
  identity: ~/.config/chezmoi_key.txt
  recipient: age13ugu9eflx7rr782lnun4q9gl4jm9anjj2z9ka8jlv62te862svls83purn
data:
  name: olly
  email: olly@pppp.page
  {{- if eq .chezmoi.hostname "pppp-mint" }}
  signingkey: /home/olly/.ssh/id_ed25519_github_pppp_sign.pub
  {{- else }}
  signingkey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAz0y1k6elxE8ldjnPHS2TLTeSrDCNLMLN8gHtriwCam"
  {{- end }}
