{{ if stat ".programs_status" }}
{{ $status := include ".programs_status" | splitList "\n" }}
# Read program status and set ignore patterns
{{- range $line := $status }}
{{- if eq $line "1password=not_installed" }}
dot_config/Private_1Password/
{{- end }}
{{- if eq $line "nvim=not_installed" }}
dot_config/nvim/
{{- end }}
{{- if eq $line "fish=not_installed" }}
dot_config/fish/
{{- end }}
{{- if eq $line "alacritty=not_installed" }}
dot_config/alacritty/
{{- end }}
{{- if eq $line "git=not_installed" }}
private_dot_gitconfig
{{- end }}
{{- end }}
{{ end }}
