{{- if true -}}
[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = {{ .signingkey }}
{{- end }}

{{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[gpg]
    format = ssh

[gpg "ssh"]
    program = ssh-keygen.exe

[core]
    sshCommand = ssh.exe

[commit]
    gpgsign = true

[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe

{{- else -}}
[gpg]
    format = ssh

[commit]
    gpgsign = true
{{- end }}
