{{- if true -}}
[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = {{ .signingkey }}
{{- end }}

{{ if and (eq .chezmoi.os "darwin") (stat "/Applications/1Password.app") -}}
[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true

{{ else if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{ $username := (output "powershell.exe" "-NoProfile" "-Command" "$env:USERNAME" | trim) -}}
{{ if ne $username "" -}}
[gpg]
    format = ssh

[gpg "ssh"]
    program = {{ output "wslpath" "-a" (printf "C:/Users/%s/AppData/Local/1Password/app/8/op-ssh-sign-wsl" $username) | trim | quote }}

[core]
    sshCommand = ssh.exe

[commit]
    gpgsign = true
{{- end -}}

{{ else if and (eq .chezmoi.os "linux") (stat "/opt/1Password/1password") -}}
[gpg]
    format = ssh

[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"

[commit]
    gpgsign = true
{{- end -}}
