[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = {{ .signingkey }}

[gpg]
    format = ssh

[gpg "ssh"]
    {{- if and (eq .chezmoi.os "darwin") (stat "/Applications/1Password.app") }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    {{- else if and (eq .chezmoi.os "linux") (not (lookPath "wslpath")) (stat "/opt/1Password/1password") }}
    program = "/opt/1Password/op-ssh-sign"
    {{- else if and (eq .chezmoi.os "linux") (lookPath "wslpath") }}
    program = {{ output "wslpath" "-a" (printf "C:/Users/%s/AppData/Local/1Password/app/8/op-ssh-sign-wsl" (output "cmd.exe" "/c" "echo %USERNAME%" | trim)) | trim | quote }}
    {{- end }}

[commit]
    {{- if or (and (eq .chezmoi.os "darwin") (stat "/Applications/1Password.app")) (and (eq .chezmoi.os "linux") (not (lookPath "wslpath")) (stat "/opt/1Password/1password")) (and (eq .chezmoi.os "linux") (lookPath "wslpath")) }}
    gpgSign = true
    {{- end }}
