function setup_1password_ssh
    switch "{{ .chezmoi.os }}"
        case "darwin"
            if test -d "/Applications/1Password.app"
                set -gx SSH_AUTH_SOCK "~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock"
            end
        case "linux"
            if not string match -q "*microsoft*" (uname -r)
                if test -d "$HOME/.config/1Password"
                    set -gx SSH_AUTH_SOCK "~/.1password/agent.sock"
                end
            end
    end
end
