if status is-interactive
    # Load core functions
    setup_editor
    setup_aliases
    setup_1password_ssh
    setup_fzf

    # OS specific configurations
    {{-if .chezmoi.os "darwin" }}
    eval "$(/opt/homebrew/bin/brew shellenv)"
    {{- end }}

    # Shell enhancements
    {{- if lookPath "starship" }}
    starship init fish | source
    {{- end }}
end
